<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
	{{range .}}<meta name="go-import" content="gobox.me/applet/{{.Name}} git {{.URL}}" />
	{{end}}
	<style>
		body {
			padding-top: 50px;
			font-family: 'Open Sans';
			text-align: center;
			color: hsla(240, 10%, 10%, 1);
		}
		a {
			font-weight: bold;
		}
		code {
			background-color: hsla(0, 0%, 90%, 1);
			padding: 5px;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<p>This is merely a placeholder for a homepage.</p>

	<p>It serves the purpose of showing this link to <a href="http://github.com/surma/gobox">GoBox</a>.</p>

	<p>It also makes something like <code>import "gobox.me/applet/ls"</code> work.</p>

	<p><img src="imgs/minegopher.png" /></p>

	<p><small>Homepage Version 0.3.1</small></p>
</body>
</html>
